[class*="icon-"]{
    display: inline-block;
}

[class*="icon-"]::before{
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    background-size: contain;
    background-repeat: no-repeat;
}


.icon-1{
    filter: brightness(0) saturate(100%) invert(92%) sepia(83%) 
    saturate(2512%) hue-rotate(103deg) brightness(101%) contrast(108%);
}

.icon-2{
    filter: brightness(0) saturate(100%) invert(100%) sepia(2%) 
    saturate(0%) hue-rotate(154deg) brightness(103%) contrast(104%);

}


.icon-3{
    filter: brightness(0) saturate(100%) invert(92%) sepia(83%) 
    saturate(2512%) hue-rotate(103deg) brightness(101%) contrast(108%);
    height: 50px;
    width: 50px;
}

.icon-4{
    filter: brightness(0) saturate(100%) invert(92%) sepia(83%) 
    saturate(2512%) hue-rotate(103deg) brightness(101%) contrast(108%);
    height: 50px;
    width: 50px;
}

.icon-5{
    filter: brightness(0) saturate(100%) invert(92%) sepia(83%) 
    saturate(2512%) hue-rotate(103deg) brightness(101%) contrast(108%);
    height: 50px;
    width: 50px;
}

.icon-6{
    filter: brightness(0) saturate(100%) invert(92%) sepia(83%) 
    saturate(2512%) hue-rotate(103deg) brightness(101%) contrast(108%);
    height: 50px;
    width: 50px;
}

.icon-7{
    filter: brightness(0) saturate(100%) invert(92%) sepia(83%) 
    saturate(2512%) hue-rotate(103deg) brightness(101%) contrast(108%);
    height: 50px;
    width: 50px;
}



